.root {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    font-family: sans-serif;
}

.item {
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.alert {
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
